compucompare/HELP.md
compucompare/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
compucompare/.apt_generated
compucompare/.classpath
compucompare/.factorypath
compucompare/.project
compucompare/.settings
compucompare/.springBeans
compucompare/.sts4-cache

### IntelliJ IDEA ###
compucompare/.idea
compucompare/*.iws
compucompare/*.iml
compucompare/*.ipr

### NetBeans ###
compucompare/nbproject/private/
compucompare/nbbuild/
compucompare/dist/
compucompare/nbdist/
compucompare/.nb-gradle/
compucompare/build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
compucompare/.vscode/