#main {
    height: 100vh;
    background: linear-gradient(45deg, whitesmoke, slategray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.centered_text_box {
    width: 50vw;
    height: 50vh;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner {
    width: 100%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: xx-large;
}

.title_text_1 {
    color: black;
}

.title_text_2 {
    color: cornflowerblue;
}