#main {
    height: 100vh;
    background: linear-gradient(45deg, whitesmoke, lightslategray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#logo {
    width: 85%;
}

.centered_flex_box {
    width: 50vw;
    height: 50vh;
    border-radius: 1vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex_banner {
    width: 100%;
    text-align: center;
    font-family: 'Open Sans Light', sans-serif;
    font-size: xx-large;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#banner_top {
    flex-grow: 3;
    justify-content: center;
    background: white;
}

#banner_bottom {
    justify-content: center;
    background: rgba(255, 255, 255, 0.55);
}